@import '../../styles/variables.scss';
@import '../../styles/breakpoints';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 241px;
  padding: 50px 20px;
  background: $sidebarbackground;
  color: white;

  @include media('<desktop') {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 30px;
    width: 100%;
    max-height: 140px;
  }
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;

  @include media('<desktop') {
    margin-bottom: 0;
    flex-direction: row;
    align-items: initial;
  }
}

.imageWrapper {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;

  @include media('<desktop') {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.imageSrc {
  width: 106px;
  height: 106px;
}

.userNameBlock {
  text-align: center;
  @include media('<desktop') {
    margin-bottom: 0;
  }
}

.userName {
  margin-bottom: 15px;
}
.userJob {
  margin-bottom: 20%;
  @include media('<desktop') {
    margin-bottom: 0;
  }
}

.detailsWrapper {
  margin-bottom: 15%;
  @include media('<desktop') {
    margin-bottom: 0;
    display: none;
  }
}

.detailsTitle {
  margin-bottom: 5%;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contactsTitle {
  margin-bottom: 5%;
  @include media('<desktop') {
    display: none;
  }
}

.socialAccs {
  display: flex;
}

.contactsItem {
  display: flex;
  align-items: center;
  margin-right: 14px;
  margin-bottom: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.contactsLink {
  color: white;
}

.contactsLinkSvg {
  fill: white;
  width: 34px;
  height: auto;

  &--phone {
    width: 22px;
    margin-right: 8px;
  }
}
